<footer class="flex flex-wrap justify-content-center align-items-center h-5rem bg-primary">
  <div class="flex w-full gap-2 justify-content-center ">
    <div>
      <a href="https://github.com/SoleTancredi" target="_blank"><i class="pi pi-github text-white"></i></a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/soledad-tancredi" target="_blank"><i class="pi pi-linkedin text-white"></i></a>
    </div>
    <div>
      <a href="mailto:tancredi620@gmail.com" target="_blank"><i class="pi pi-google text-white"></i></a>
    </div>
  </div>
  <div>Soledad Tancredi ©</div>
</footer>
