<section class="flex justify-content-center flex-wrap">
  <div class="px-4" #featuredElement>
    <div>Featured</div>
    <div class="card__wrapper">
      <div class="card__3d">
        <div class="my-4 shadow-xl">
          <figure>
            <img
              [src]="this.featured?.Poster"
              width="200px"
              alt="Movie"
              class="border-round-sm"
            />
          </figure>
        </div>
      </div>
    </div>
    <div className="card-body">
      <h2 className="card-title">{{ this.featured?.Title }}</h2>
      <p>Click the button to leave a review.</p>
      <div className="card-actions justify-end">
        <p-button className="btn btn-primary p-button-sm">Watch</p-button>
      </div>
    </div>
  </div>
</section>
