<section class="flex justify-content-center flex-wrap">
  <div class="px-4" #featuredElement>
    <div>Featured
	<span class="pi pi-star"></span>
	<span class="pi pi-star"></span>
	<span class="pi pi-star"></span>
    </div>
    <div class="card__wrapper">
      <div class="card__3d">
        <div class="my-4 shadow-xl">
          <figure>
            <img
              [src]="this.featured?.Poster" 
              alt="Movie"
		  class="w-6 sm:w-8 border-round-sm"
            />
          </figure>
	    <div class="card__layer1"></div>
        </div>
      </div>
    </div>
    <div className="card-body">
      <h2 className="card-title">{{ this.featured?.Title }}</h2>
      <p>Click the button to leave a review.</p>
      <div className="card-actions justify-end">
        <p-button className="btn btn-primary p-button-sm">Comment</p-button>
      </div>
    </div>
  </div>
</section>
